body { 
    background-color: rgb(196, 190, 190);
    margin-left: 15%;
    margin-right: 15%;
    border: 10px inset rgb(70, 70, 70);
    padding: 10px 10px 10px 10px;
    font-family: 'Courier New', Courier, monospace;
}

h1,h2{
   
    color: rgb(3, 3, 3);
}
h1 {
    border-bottom: 1px solid black;
}
P{
    color: blue deeppink;
}
em{
    font-family: courier;
}
p.cafe{
    color: rgb(201, 25, 25);
}
p.mocha{
    color: yellowgreen;
}
p.capuccino{
    color: green;
}
p.tea{
    color: darkslategrey;
}
